.mb-3.message{ data: { message_id: message.id } }
  = avatar_for(message.user, size: 32, class_name: "rounded-circle me-2")
  .d-flex.justify-content-between
    %strong= message.author
    %small.text-muted= l(message.created_at, format: :short)
  %div
    = simple_format(message.body)
  %hr
