!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %style
      = Rails.application.assets["mailer.css"]&.to_s

  %body
    .email-container
      .header
        ChatMail – Powiadomienie

      .content
        = yield

      .footer
        To jest automatyczna wiadomość wygenerowana przez ChatMail.
        %br/


